html, body {
    padding: 5px;
	background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2014/03/18/301319/fca348245722d9749d71e1a31d34dd39.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed
}

.radiobutton {
	display:block;
    width: 90%;
    border:3px solid #d9b834;
	padding:10px;
	margin-top:5px;
	float:left;
	text-emphasis:accent;
	text-shadow: 0px 0px 5px #bf00ff;
  	font-family: Arial;
	font-size:14px;
  	color: #000;
}

#finish {
  background: #d9b834;
  background-image: -webkit-linear-gradient(top, #d9b834, #b84d2c);
  background-image: -moz-linear-gradient(top, #d9b834, #b84d2c);
  background-image: -ms-linear-gradient(top, #d9b834, #b84d2c);
  background-image: -o-linear-gradient(top, #d9b834, #b84d2c);
  background-image: linear-gradient(to bottom, #d9b834, #b84d2c);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 2px 2px 2px #000000;
  font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  color: #dbdbdb;
  font-size: 33px;
  padding: 10px 20px 10px 20px;
}

#finish:hover {
  background: #45c42f;
  background-image: -webkit-linear-gradient(top, #45c42f, #505c0c);
  background-image: -moz-linear-gradient(top, #45c42f, #505c0c);
  background-image: -ms-linear-gradient(top, #45c42f, #505c0c);
  background-image: -o-linear-gradient(top, #45c42f, #505c0c);
  background-image: linear-gradient(to bottom, #45c42f, #505c0c);
}

.creatorButton {
  background: #d9b834;
  border-radius: 10px;
  color: #000;
  font-size: 12px;
  padding: 2px;
}

.creatorButton:hover {
  background: #45c42f;
  background-image: -webkit-linear-gradient(top, #45c42f, #505c0c);
  background-image: -moz-linear-gradient(top, #45c42f, #505c0c);
  background-image: -ms-linear-gradient(top, #45c42f, #505c0c);
  background-image: -o-linear-gradient(top, #45c42f, #505c0c);
  background-image: linear-gradient(to bottom, #45c42f, #505c0c);
}

#gameon { 
	display:none; 
	background-color:rgba(1000, 1000, 1000, 0.6)
}

#userinterface{
    display: inline-block;
}
#userinterface table{
    display: inline-block;
    position: relative;
    background-color:rgba(1000, 1000, 1000, 0.6);
}
#userinterface thead td {
    background-color: #8CCCF1;
}
#userinterface td {
    border: 1px solid #466E85;
    width: 136px;
    padding: 7px;
}
#userinterface div{
    display: inline-block;
    overflow:auto;
    text-align: center;
    background-color:rgba(1000, 1000, 1000, 0.6);
}

#inventory {
    overflow:scroll;
}


#hideMe{
    display:none;
}

#battlemap{
    //border: 1px solid #466E85;
	margin-left:100px;
}
#battlemap button{
    display:inline-block;
    margin: auto;
    width: 32%;
    height: 50px;
    border:3px solid #8AC007;
    padding: 1px;
}

/*
#characterCreator {
    border-style: groove;
    border-width: 2px;
    width:100%;
    height:50%;
    padding:10%;
    background-color:rgba(1000, 1000, 1000, 0.6);
	display: inline-block;
}

#characterCreator div{
    border-style: groove;
    border-width: 2px;
    width:fit;
    height:fit;
	display: inline-block;
}
#characterCreator div div{
    border-style: groove;
    border-width: 2px;
    width:fit;
    height:fit;
	display: inline-block;
}

.radiobutton{
    display:inline-block;
    margin: auto;a
    width: 30%;
    border:3px solid #8AC007;
    padding: 1px;
}
*/
.world {
    //background-color:green;
}

.grass {
   background-color:green;
   background-image:url('http://thedirtonwater.com/wp-content/uploads/2015/05/7015829-spring-grass-wallpaper.jpg');
   background-size:100% 100%;
}
.tree {
   background-color:#95BE22;
   background-image:url('http://forrestministries.com/portals/0/images/forrest3.png');
   background-size:100% 100%;
}
.mountain {
   background-color:#B0E0E6;
   background-image:url('https://upload.wikimedia.org/wikipedia/commons/2/2b/GoraBeluha.jpg');
   background-size:100% 100%;
}
.monster {
   background-color:red;
   background-image:url('https://s-media-cache-ak0.pinimg.com/736x/1b/4b/29/1b4b29b7c516049fb28b4fa32084ceba.jpg');
   background-size:100% 100%;
}
.treasure {
    background-color:#ffae19;
    background-image:url('http://caledonianmercury.com/wp-content/uploads/2013/10/Cheapside-Hoard-treasure-Cropped.jpg');
   background-size:100% 100%;
}
.hero {
    background-color:black;
    background-image:url('http://img1.wikia.nocookie.net/__cb20140929174019/thefatneilmemorialgroup/images/2/27/Fantasy-Art-Wesley-Burt-Fiendslayer-Paladin.jpg');
   background-size:100% 100%;
}
